<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Style/css")
    @Scripts.Render("~/bundles/scripts")
</head>
<body>
    <header>
        <div class="container">
            <div class="twelve columns">
                <nav class="u-pull-right">
                    <ul>
                        <li class="menuopts">@Html.ActionLink("SQL DATA BASE", "SQLCode", "TechDB")</li>                        
                        <li>@Html.ActionLink("SQL Querys", "SQLDisplay", "TechDB")</li>
                        <li>@Html.ActionLink("SQL Tables", "TableInfo", "TechDB")</li>                        
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
